<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Recipe</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Ingredients</th>
                <th>Steps</th>
                <th>Difficulty</th>
                <th>Cooking Time</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.steps }}</td>
                <td>{{ recipe.difficulty }}</td>
                <td>{{ recipe.cooking_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
